body{
	background-color:#a8cfff;
}
html{
	scroll-behavior: smooth;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	font-family: 'Lato', sans-serif;
}
.navbar, .top-bar, .top-bar ul{
	background-color:#a8cfff;
}
.nav a{
	color:#fff;
	font-weight:900;
	font-size:18px;
	-webkit-transition: border-bottom .3s ease-in-out;
	transition: border-bottom .3s ease-in-out;
}
.nav a:hover{
	border-bottom: 3px solid #272247;
}
.logo{
	width:60px;
	border:2px solid #fff;
	border-radius:100px;
}
.intro-section{
	background-color:#fff;
	border-radius: 50px 50px;
	padding-bottom:20px;
	padding-top:10px;
	margin-top:10px;
	width:60%;
}
.selfie-image img{
	width:150px;
}
.social-icon a{
	color:#a8cfff;
	font-size: 35px;
	-webkit-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
.social-icon a:hover{
	color:#272247;
}
.projects-section, .skills-section, .work-section{
	border-top: 2px solid #a8cfff;
}
.project-cards{
	padding-bottom: 50px;
}
/*.card{
	width: 300px;
}*/
.button{
	background-color:#a8cfff;
	font-weight:900;
	-webkit-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}
.button:hover{
	background-color:#272247;
}
.social-icon-footer a{
	color:#fff;
	font-size: 35px;
	-webkit-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
.social-icon-footer a:hover{
	color:#272247;
}
.footer-info{
	color:#fff;
	text-align: center;
}
.footer-info p{
	line-height: .5;
}

/* Scroll to Top */
.scrolltop {
  display:none;
  width:100%;
  margin:0 auto;
  position:fixed;
  bottom:20px;
  right:10px;
  z-index: 9999; 
}
.scroll {
  position:absolute;
  right:20px;
  bottom:20px;
  background:#efefef;
  background:rgba(178,178,178,0.7);
  padding:10px 10px 5px 10px;
  text-align: center;
  margin: 0 0 0 0;
  cursor:pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;    
}
.scroll:hover {
  background:#E5660C;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;    
}
.scroll:hover .fa {
  padding-top:-10px;
}
.scroll .fa {
  color:#ffffff;
  font-size:30px;
  margin-top:-5px;
  margin-left:1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;  
}